<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
        <h1><a href="index.html">Collective</a></h1>
    </div>

    <!-- if logo is image enable this -->
    <!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    <!-- //image logo -->

    <div class="logo-icon text-center">
        <a th:href="@{/dashboard}" title="logo"><img src="/assets/admin/images/logo.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

        <!-- sidebar nav start -->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a th:href="@{/dashboard}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
            </li>
            <li class="menu-list">
                <a th:href="@{/dashboard/users}"><i class="fa fa-user"></i>
                    <span>Users </span></a>
                <ul class="sub-menu-list">
                    <li><a th:href="@{/admin/users}">Manage User</a> </li>
                    <li><a th:href="@{/admin/users/add}">Add User</a> </li>
                </ul>
            </li>
            <li class="menu-list">
                <a th:href="@{/dashboard/categories}"><i class="fa fa-table"></i>
                    <span>Categories </span></a>
                <ul class="sub-menu-list">
                    <li><a th:href="@{/admin/categories}">Manage Categories</a> </li>
                    <li><a th:href="@{/admin/categories/add}">Add Category</a> </li>
                </ul>
            </li>
            <li class="menu-list">
                <a th:href="@{/dashboard/posts}"><i class="fa fa-file-text"></i>
                    <span>Categories </span></a>
                <ul class="sub-menu-list">
                    <li><a th:href="@{/admin/posts}">Manage Posts</a> </li>
                    <li><a th:href="@{/admin/posts/add}">Add Post</a> </li>
                </ul>
            </li>
<!--            <li><a><i class="fa fa-table"></i> <span>Pricing tables</span></a></li>-->
<!--            <li><a ><i class="fa fa-th"></i> <span>Content blocks</span></a></li>-->
<!--            <li><a ><i class="fa fa-file-text"></i> <span>Forms</span></a></li>-->
        </ul>
        <!-- //sidebar nav end -->
        <!-- toggle button start -->
        <a class="toggle-btn">
            <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
            <i class="fa fa-angle-double-right menu-collapsed__right"></i>
        </a>
        <!-- //toggle button end -->
    </div>
</div>


</body>
</html>